doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
    link(rel='stylesheet' href='/css/style.css')
    title Ads
.container-fluid
    .header
        .row.no-gutters
            .col-4.icon
                img(src='https://images-na.ssl-images-amazon.com/images/I/91v%2BlqkUGHL.png' alt='')
            .col-8.pl-3.txt
                h4 #{ad.title}
                img(src='/images/shopify.png' alt='')
                .vote
                    img(src='/images/star.png' alt='')
                    img(src='/images/star.png' alt='')
                    img(src='/images/star.png' alt='')
                    img(src='/images/star.png' alt='')
                    img(src='/images/star-black.png' alt='')
                    p (123,345)
    .body
        img.ads-img(src='/images/ads-img.jpg' alt='')
        p.text-center.mt-4.mb-4
            | Attackers and Defenders
            br
            |                 Beware War is coming, Play at your own risk
        .text-center
            a.button(href='#') Install
    .footer
