doctype html
img(src='https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg' alt='Flowers in Chania' width='460' height='345')
div
    a(href='https://www.google.com/' target='_blank') Click Here
